.o_field_widget .o_priority {
    gap: 0.5em;
    > .o_priority_star {
        font-size: 1.25em !important;
        &[data-icon="star"] {
            color: $o-main-color-muted;

            &.oi-filled {
                color: $o-main-favorite-color;
            }
        }
    }
}

@media (hover: none) {
    .o_list_view .o_field_widget {
        .o_priority > .o_priority_star:not(.oi-filled) {
            opacity: 0.25 !important;
        }
        &.o_readonly_modifier .o_priority > .o_priority_star:not(.oi-filled) {
            opacity: 1 !important;
        }
    }
}

.o_list_view .o_priority_cell:is(:hover, :focus-within) {
    .o_priority > .opacity-100-hover {
        opacity: 1 !important;
    }
}
